h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p,a,li,input,th,td{
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0px;
}
header > nav > div > a > img{
    height: 70px;
    width: auto;
}
footer{
    padding: 5%;
    background-color: darkblue;
    color: #fff;
}
footer > div:nth-child(1) > a > img{
    width: 150px;
    height: auto;
}
.masthead{
    height: 75vh;
    /* add a background image */
    background-image: url('../img/4.png');
    background-size: cover;
    background-position: center;
}
.masthead div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.masthead div h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
}
.form{
    background-color: aquamarine;
    padding: 5%;
}

.signin-masthead{
    height: 50vh;
}
.signin-row{
    padding: 5%;
}
.person-masthead{
    width: 100%;
    height: 50vh;
    /* add background image */
}
.person-masthead div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.person-masthead div h1{
    color: #fff;
    font-size: 2.5em;
}
.person-row{
    padding: 5% 10%;
}
.success-row,
.signin-masthead,
.add-image-page{
    background-image: url("../img/sample-image.jpg");
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.success-row div,
.signin-masthead div,
.add-image-page div{
    padding: 5%;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    color: #fff;
}
.success-back-row{padding: 5%;}